html{
    background-color:white;
}

.container{
    width: 100%;
}

.row{
    display: flex;
    margin: 10px;
    width: 100%;
}

.col-50{
    width: 50%;
}

/* .row .col-50:nth-child(1){
    background-color: chocolate;
}
.row .col-50:nth-child(2){
    background-color:cornflowerblue;
} */

.row .col-50 figure{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.row .col-50 figure img{
    width: 80%;
}

.row .col-50:nth-child(1) div{
    width: 80%;
    margin: 120px auto;
}

.row .col-50:nth-child(2) div{
    width: 80%;
    margin: 80px auto;
}

.row .col-50 div a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.5rem;
}

.row .col-50 div p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.5rem;
}
