html{
    background-color:lightslategray;
}

.container{
    width: 100%;
}

.row{
    display: flex;
    margin: 10px;
    width: 100%;
}

.col-50{
    width: 90%;
}


.row .col-50 figure{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.row .col-50 figure img{
    width: 95%;
}

.row .col-50:nth-child(1) div{
    width: 60%;
    margin: 60px auto;
}

.row .col-50:nth-child(2) div{
    width: 60%;
    margin: 60px auto;
}

.row .col-50 div a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
;   font-size: 1.0rem;
}

.row .col-50 div p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.0rem;
    
}

